<!-- 
    <label for="username" class="sr-only">Username</label>
    <input type="email" id="username" name="username" ngModel class="form-control" placeholder="Username">
    <label for="password" class="sr-only">Password</label>
    
    <button type="submit">Log in</button>
</form> -->

<img @fadeIn class="wave" src="assets/wave.png">
	<div class="container">
		<div @slideInLeft class="img">
			<img src="assets/bg2.svg">
		</div>
		<div @slideInRight class="login-content">
			<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
				<img src="assets/library-logo-square.png">
				<h2 class="title">Welcome</h2>
				<h2 class="title">to LibAID</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<input type="text" id="username" name="username" ngModel  placeholder="Username" class="input" autocomplete="off">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<input type="password" id="password" name="password" ngModel  placeholder="Password" class="input">
            	   </div>
            	</div>
            	<a href="#">Forgot Password?</a>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
