<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="${currentdir:cached=true}..\..\Logs\nlog-internal.log">

	<targets>
		<target xsi:type="File" name="fileTarget" filename="${currentdir:cached=true}..\..\Logs\log.txt"></target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="fileTarget" />

		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />

	</rules>
</nlog>
