table {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    background: white;
  }

th {
      background: #36304a;
      color: white;
  }

.add-button {
   margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.actions-button {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.material-icons {
  position: relative;
}

.mat-icon {
  top: -8px;
}

.add-circle-icon {
  margin-top: 15px;
}