<mat-toolbar color="accent" class="nav-bar mat-elevation-z2">
    <img class="library-logo" src="assets/library-logo-square.png" alt="library-logo">
    <h2>LibAid</h2>
    <span class="spacer"></span>
    <ul>
        <li routerLinkActive="active"><a routerLink="/book">Books</a></li>
        <li routerLinkActive="active"><a routerLink="/customer">Customers</a></li>
    </ul>
    <ng-container>
        <mat-icon>language</mat-icon>
        <button mat-button (click)="changeLang('en')">
            <img src="assets/united-kingdom.svg" alt="united-kingdom">
        </button>
        <button mat-button mat-button (click)="changeLang('ru')">
            <img src="assets/russia.svg" alt="russia">
        </button>
        <button mat-button mat-button (click)="changeLang('hr')">
            <img src="assets/croatia.svg" alt="croatia">
        </button>
    </ng-container>
</mat-toolbar>
