<mat-toolbar color="accent" class="nav-bar mat-elevation-z2">
    <img class="library-logo" src="assets/library-logo-square.png" alt="library-logo">
    <h2>LibAid</h2>
    <span class="spacer"></span>
        
    <nav>
        <input type="radio" name="tab" id="books" checked routerLink="/book">
        <input type="radio" name="tab" id="customers"  routerLink="/customer">
        <label for="books" class="books">
            <a  ><i class="fas fa-book"></i>Books</a>
        </label>
        <label for="customers" class="customers" >
            <a ><i class="far fa-user"></i>Customers</a>
        </label>
        <div class="tab"></div>
    </nav>
        
    <ng-container>
        <button mat-button (click)="changeLang('en')">
            <img src="assets/united-kingdom.svg" alt="united-kingdom">
        </button>
        <button mat-button mat-button (click)="changeLang('ru')">
            <img src="assets/russia.svg" alt="russia">
        </button>
        <button mat-button mat-button (click)="changeLang('hr')">
            <img src="assets/croatia.svg" alt="croatia">
        </button>
    </ng-container>
</mat-toolbar>
