/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.app-full-bleed-dialog .mat-dialog-container {
    margin: 0;
    padding: 0;
    border: 5px solid #ffd740;
    border-radius: 20px;
  }
