<div class="header">Lended books</div>
<div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef > {{'books.tableHeader.title' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
    
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef > {{'books.tableHeader.author' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.author}} </td>
      </ng-container>
    
      <ng-container matColumnDef="publisher">
        <th mat-header-cell *matHeaderCellDef > {{'books.tableHeader.publisher' | translate}} </th>
        <td  mat-cell *matCellDef="let element"> {{element.publisher}} </td>
      </ng-container>
    
      <ng-container matColumnDef="dateOfPublication">
        <th mat-header-cell *matHeaderCellDef > {{'books.tableHeader.dateOfPublication' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.dateOfPublication | date}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
  </table>
  <div class="emptyTable" *ngIf="dataSource.length == 0">
    No Lended Books
  </div>
  </div>
