 
  
table {
    width:100%
}

th {
    background: #ffd740;
    color: black;
    font-size: 15px;
    width: 200px;
}

h2 {
    color: white;
    background: linear-gradient(45deg, #4158d0, #c850c0);
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 3%;
    margin-right: 5%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}


      