<mat-card class="example-card">
    <mat-card-header class="header">
      <mat-card-title>Lend a book</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" [formGroup]="lendForm" autocomplete="off" (submit)="onSubmit(lendForm)">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Card NUmber</mat-label>
          <input matInput placeholder="Card Number" formControlName="cardNumber" #elementCardNumber required>
          <mat-error *ngIf="lendForm.controls.cardNumber.touched && lendForm.controls.cardNumber.invalid" >{{getErrorMessage(elementCardNumber)}}</mat-error>
        </mat-form-field>
        <button mat-raised-button mat-dialog-close color="primary" type="submit" [disabled]="!lendForm.valid">Lend</button>
    </form>
    </mat-card-content>
  </mat-card>
