.example-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    font-family: 'Sigmar One', cursive;
    color:  #673ab7;
    margin-bottom: 5%;
    border-radius: 10px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.num-validation {
    height: 70px;
    border-radius: 10px;
    background-color: green;
    color: white;
    margin-bottom: 5%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:x-large;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
}

.non-existing {
    background-color: red;
}

.pending {
    background-color: yellow;
    color: black
}

.existing {
    background-color: green;
}

.mat-card-title {
    margin-top: 10%;
    font-size: 30px;
}

button {
    width: 300px;
    
}

.example-full-width {
    width: 300px;
    
}

.example-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}